html {
  font-family: "Poppins", serif;
  font-size: 15px;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --verydarkblue: hsl(234, 12%, 34%);
  --grayishblue: hsl(229, 6%, 66%);
  --lightgray: hsl(0, 0%, 98%);
}

.container {
  display: flex;
  flex-direction: column;
  border: 0.5px solid var(--lightgray);
  box-shadow: 2px 10px 10px 2px lightgray;
  width: 60%;
  position: relative;
  top: 100px;
  left: 280px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #fafafa;
}

.main {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  align-items: center;
  width: 40%;
  justify-content: center;
  margin-top: 40px;
}

.main header {
  font-size: 25px;
}

.pre-tag {
  color: var(--grayishblue);
}

.main-tag {
  font-weight: 700;
}

.main p {
  font-size: 12px;
  color: var(--grayishblue);
  text-align: center;
}

.cards {
  /* border: 2px solid gold; */
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(8, 70px);
  column-gap: 10px;
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  /* border: 1px dotted blue; */
  width: 250px;
  height: 150px;
  padding: 20px;
  margin: 5px;
  box-shadow: 6px 6px 6px -1px var(--grayishblue);
  border-radius: 5px;
  background-color: white;
}

.left {
  border-top: 3px solid var(--cyan);
  grid-column: 1;
  grid-row: 2 / 8;
}

.top {
  border-top: 3px solid var(--red);
  grid-column: 2;
  grid-row: 1 / 6;
}

.right {
  border-top: 3px solid var(--blue);
  grid-column: 3;
  grid-row: 2 / 8;
}

.bottom {
  border-top: 3px solid var(--orange);
  grid-column: 2;
  grid-row: 4 / 9;
}

img {
  width: 50px;
  height: 50px;
}

.img-container {
  display: flex;
  /* border: 0.5px solid black; */
  justify-content: flex-end;
  height: 200px;
  align-items: flex-end;
}

.card-title {
  font-style: bold;
}

.card p {
  font-size: 10px;
  color: var(--grayishblue);
}
